<!doctype html>
<html lang="en">
<head>
<title>Главная</title>
<div th:replace="~{commons :: head}"></div>
</head>
<body>


	<div th:replace="~{commons :: nav}"></div>
	<h3 class="text-center" th:if="${success}" th:text="${success}"></h3>




<section class="indexInfo">
    <div class="container">
        <div class="row">
            <div class="col">
				<h1 class="text-center fz-20">Добро пожаловать на Webinares</h1>
                <h2>Что же такое вебинар?</h2>
                <p>
                    Вебинар — это интерактивная онлайн-встреча в режиме реального времени или в записи (про это расскажем чуть ниже). Многие компании выбирают вебинары, потому что они предоставляют много возможностей: запускать опросы, расшаривать свой экран, показывать презентацию, общаться в чате. Вебинары стали популярным удобным способом преподносить информацию большому количеству людей. Этот инструмент идеален, если не нужно много общаться с людьми во время вебинара, а нужно, чтобы люди просто тебя слушали и, если нужно, задавали вопросы в чате. На самом деле, раньше вебинары можно было назвать презентацией, которая проходит в реальном времени. Но теперь есть возможность запуска автовебинара.
                </p>                
            </div>
        </div>
            <div class="row">
            <div class="col">
                <h2>Зачем проводить вебинары для врачей?</h2>
                <p>В сфере медицины очень долго привычным форматом встреч и обучения были конференции, пленумы и съезды. Но даже несколько лет назад стало понятно, что эта форма не всегда подходит для участников и организаторов из-за неудобств, ну и затрат, конечно же. Ну а теперь такие встречи и вовсе практически неосуществимы.</p>
                <p>Что же делать, ведь надо же как-то общаться с коллегами, делиться опытом и обучаться? Очевидно, что, как и многим, врачам для встреч надо переходить в онлайн.</p>
                <p>Многие успели убедиться, что это удобно и вовсе не так страшно.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Плюсы проведения вебинаров в сфере здравоохранения</h2>
                <p>Среди очевидных плюсов и возможностей проведения медицинских вебинаров:</p>
                <ul type="square">
                    <li>легкость в организации</li>
                    <li>малая затратность как для организаторов, так и для участников</li>
                    <li>возможность собрать больше участников и представителей медицинских ассоциаций, ведущих врачей</li>
                    <li>в таком формате можно проводить онлайн-трансляции медицинских операций</li>
                    <li>индивидуальные консультации для пациентов и курсы повышения квалификации и переподготовки врачей
                    <li>удобный формат общения между фармацевтическими компаниями и аптеками</li>
                    <li>можно проводить трансляции операций</li>
                    <li>использовать для организации онлайн-консультаций с пациентами</li>
                </ul>
            </div>
        </div>                
            
    </div>
</section>





</body>
</html>