<!DOCTYPE html>
<head>
	<title>Вход</title>
	<div th:replace="~{commons :: head}"></div>
</head>
<body>
	<div th:replace="~{commons :: nav}"></div>


	<div id="container" class="loginForm">
		<form action="/login1" method="POST">
			<label for="name">Логин:</label>
			<input type="name" name="username">
			<label for="username">Пароль:</label>
			<p></p>
			<input type="password" name="password">
			<div id="lower">
				<input type="submit" value="Войти">
			</div>
		</form>
	</div>
</body>
</html>
	
	
	
	
	
		
	