<!DOCTYPE html>
<head>
	<title>Регистрация</title>
	<div th:replace="~{commons :: head}"></div>
<body>

	<div th:replace="~{commons :: nav}"></div>

	<div id="container" class="loginForm">
		<form action="/registration" method="POST">
			<label>Логин:</label>
			<input type="text" name="username" required>
			
			<label>Пароль:</label>			
			<input type="password" name="password" required>
			
			<label>ФИО:</label>
			<input type="text" name="fio" required>
			<label>Дата рождения:</label>
			<input type="date" name="dateBorn" required>
			
			<div id="lower">
				<input type="submit" value="Войти">
			</div>
		</form>
	</div>
</body>
</html>
	
	
	
	
	
		
	