<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
<head>
    <title>Информация о вебинаре</title>
    <div th:replace="~{commons :: head}"></div>
</head>
 
<body>

    <div th:replace="~{commons :: nav}"></div>

<section class="editCategory">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-center web-name" th:text="${entity.name}">Вебинар</h2>                
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label class="mx-2 my-2">Тема</label>
                <div class="web-theme" th:text="${entity.theme}"></div>    
            </div>            
        </div>

        <div class="row">
            <div class="col">
                <label class="mx-2 my-2">Цели</label>
                <div class="web-goal" th:text="${entity.goal}"></div>    
            </div>            
        </div>

        <div class="row">
            <div class="col">
                <label class="mx-2 my-2">Спикер</label>
                <div class="web-spiker" th:text="${entity.spiker}"></div>    
            </div>            
        </div>

        <div class="row">
            <div class="col">
                <label class="mx-2 my-2">Категория</label>
                <div class="web-category" th:text="${entity.category}"></div>    
            </div>            
        </div>

        <div class="row">
            <div class="col">
                <label class="mx-2 my-2">Дата и время проведения</label>
                <div class="web-datetime" th:text="${entity.dates}+' '+${entity.times}"></div>    
            </div>            
        </div>

        <div class="row">
            <div class="col">
                <label class="mx-2 my-2">Аннотация</label>
                <div class="web-annotation" th:text="${entity.annotaion}"></div>    
            </div>            
        </div>


        <div class="row">
            <div class="col">
                <label class="mx-2 my-2">Данные для подключения</label>
                <div class="web-platform" th:text="${entity.dataToConnection}"></div>    
            </div>            
        </div>

        <div class="row">
            <div class="col">
                <label class="mx-2 my-2">Платформа</label>
                <div class="web-platform" th:text="${entity.platform}"></div>    
            </div>            
        </div>
        
        <div class="row">
            <div class="col">
                <label class="mx-2 my-2">О платформе</label>
                <div class="web-platform" th:text="${entity.platform.instruction}"></div>    
            </div>            
        </div>
        <div class="row">
            <div class="col">
                <p class="my-5 justify-content-between d-flex">
                    <input type="hidden" th:id="${entity.id}" th:value=${entity.id}>
                    <input type="button" class="btn btn-primary" value = " Назад " onclick="history.back()"/>
                    <a th:if="${isContains  and isEnded==null}" class="btn btn-primary" th:href="'/webinariesToUser/delete/'+${entity.id}">Не участвую</a> 
                    <a th:if="${!isContains and isEnded==null}" class="btn btn-primary" th:href="'/webinariesToUser/igo/'+${entity.id}" >Участвую</a>
                </p>
            </div>            
        </div>

    </div>    
</section>    

<section class="feedbacks my-5" th:each="fdbck : ${entity.feedbacks}">
    <div class="container">
        <div class="row">
            <div class="col">
            	<div class="feedback">
            		<div class="item" >
            			<div class="name" th:text="'Автор комментария: '+${fdbck.author}"></div>
            			<div class="text" th:text="${fdbck.text}"></div>
            		</div>
            	</div>
        	</div>
        </div>
    </div>    
</section>    

<section class="feedbackMy my-5">
    <div class="container">
    
        <div class="row">
            <div class="col">
            	<div class="feedback">
            		<label class="mx-2 my-2">Оставь свой отзыв!</label>
            		<div class="item" >
            			<form th:action="'/webinariesToUser/addFeedback/'+${entity.id}" method="post">
            				<input type="text" th:value="${entity.id}" name="id" disabled hidden>
            				<input name="author" type="text" th:value="${username}" disabled>
            				<textarea name = "text" rows="5" cols="30"></textarea>
            				<button type="submit" class="btn btn-primary" >Оставить отзыв</a>
            			</form>
            		</div>
            	</div>
        	</div>
        </div>
    </div>    
</section>    

    
</body>
 
</html>